@model IEnumerable<ServiceTeamModel>
<style>
    li
    {
        padding: 5px;
    }

</style>
<div class="row">
     <div class="col-2 border">
         <ul>
             <li class="dropdown">
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Bulgaria
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="/statistics/stats/parva-liga">Purva liga</a>
                 </div>
             </li>
             <li>
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     England
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="/statistics/stats/premier-league">Premier league</a>
                     <a class="dropdown-item" href="championship">Championship</a>
                 </div>
             </li>
             <li>
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Italy
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="#">Seria A</a>
                 </div>
             </li>
             <li>
                 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     France
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" href="#">Ligue 1</a>
                 </div>
             </li>
         </ul>
     </div>
     <div class="col-10 border">
         @foreach (var team in Model)
         {
             <p>@team.Name</p>
         }
     </div>
</div>