
<h1>add future bet </h1>
<form method="post">
    <label>League</label>
    <input name="HomeTeam"/>
    <label>HT</label>
    <input name="HomeTeam" />
    <label>AT</label>
    <input name="League" />
    <label>Comment</label>
    <textarea name="Comment"  rows="4" cols="100"></textarea>
    <hr />
    <input type="submit" />
</form>