

<form method="POST">
    <input type="text" placeholder="Home Team" name="HomeTeam" />
    <br />
    <input type="text" placeholder="Away Team" name="AwayTeam" />
    <br />
    <input type="text" placeholder="Home Team Result" name="HomeResult" />
    <br />
    <input type="text" placeholder="Away Team Result" name="AwayResult" /> <br />
    <input type="text" placeholder="Home Coef" name="HomeCoef" /> <br />
    <input type="text" placeholder="Draw Coef" name="DrawCoef" /> <br />
    <input type="text" placeholder="Away Coef" name="AwayCoef" /> <br />
    <input type="text" placeholder="Bet" name="Bet" /> <br />
    <input type="text" placeholder="Bet Coef" name="BetCoef" /> <br />
    <input type="text" placeholder="Bet Type" name="BetType" /> <br />
    <input type="text" placeholder="Current Ballance" name="CurrentBalance" /> <br />
    <input type="text" placeholder="Date" name="Date" />

    <input type="submit" />
</form>